<!DOCTYPE html>
<html>
<head>
	<title>landing page here</title>
	<link rel="stylesheet" type="text/css" href="inter/semantic.css">
	<link rel="stylesheet" type="text/css" href="inter/app.css">
	<link rel="stylesheet" type="text/css" href="inter/icon.css">
	<script>
		var userPhoto='';
	</script>
</head>
<body>
<div id="app">
	<app-header title="Showcase"></app-header>
</div>
<div class="pull-down ui container" id="app-nner">
	<!--<ul class="ui equal width grid">-->
	<!--  <div class="row">-->
	<!--	<li v-for="prod in prods" class="column">-->
	<!--	<div class="pane">-->
	<!--		<div class="ui equal width grid">-->
	<!--		<div class="row">-->
	<!--		<div class="column"><img :src="prod.image" class="imm"></div>-->
	<!--		<div class="column body">-->
	<!--			<h2 class="ho">{{ prod.name }}</h2>-->
 <!--         		<p class="dall">{{ prod.dis }}</p>-->
 <!--         		<div>-->
 <!--         		<h1 class="left floated l">{{ prod.per }}</h1>-->
 <!--         			<i class="icon heart big he" @click='hello(prod.id)'></i>-->
 <!--         		</div>-->
	<!--		</div>-->
	<!--		</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--	</li>-->
	<!--	</div>-->
	<!--</ul>-->
	</div>
	<div id="app3" class="ui container">
		<!--<ul class="ui grid">-->
	 <!-- 		<div class="row">-->
		<!--		<li v-for="more in mores" class="eight wide mobile six wide tablet four wide computer column">-->
		<!--		<div class="pane">-->
		<!--			<img :src="more.image" class="imm imu">-->
		<!--			<div class="body">-->
		<!--			<h2 class="ho go">{{ more.name }}</h2>-->
		<!--			<p class="dall go">{{ more.dis }}</p>-->
		<!--			<div>-->
	 <!--         			<h1 class="left floated l go">{{ more.per }}</h1>-->
	 <!--         			<i class="icon heart big he" @click='hello(more.id)'></i>-->
	 <!--         		</div>-->
		<!--			</div>-->
		<!--			</div>-->
		<!--		</li>-->
		<!--	</div>-->
		<!--</ul>-->
	</div>
	
	<div id="app4"></div>
	<div id="app5"></div>
</body>
<script src="vue.js"></script>
<script src="app.js"></script>
<script src="views/header.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<script src="base.js"></script>
</html>