body{background-color: rgb(251,251,251);}
.rm-rd{
	border-radius: 0!important;
}
.rm-rd .item{
    border: none!important;
}
.blu{
	color: #2185D0 !important;
}
.white{
	border-bottom: 1px solid #eee !important;
	background-color: #fff !important;
}
.pull-down{
	margin-top: 80px;
}
ul{margin: 0;padding: 0;list-style: none;}
.see{border: 1px solid #000;}
.image-c{
	width: 100%;
}
.pane{
	background-color: #fff;
	box-shadow: 0px 0px 1px #eee;
	border-radius: 0px;
	border: 1px solid #eee;
}
.pane:after{
	content: '';
	display: block;
	clear: both;
}
.body{
	padding-top: 10px;
}
.imm{margin-bottom: -4px;}
.l{
	float: left; 
	font-size: 55px; 
	padding: 0; 
	margin: 0;
	font-weight: 100;
	color: #00B5AD;
	opacity: 0.7;
}
.lo{
	font-size: 55px; 
	padding: 0; 
	margin: 0;
	font-weight: 100;
	color: #00B5AD;
	opacity: 0.7;
}
.dall{
	font-weight: 600;
	opacity: 0.6;
}
.ho{
	font-size: 30px;
	font-weight: 300;
	color: #21BA45;
	opacity: .6;	
}
.he{
	margin-top: 20px!important;
	float: left!important;
	margin-left: 40px!important;
	color: #00B5AD;
}
.imu{
	width: 100%;
}
.go{margin-left: 10px;}
.got{
	margin-left: 20px;
	margin-right: 20px;
}
.hi{
	max-height: 330px;
}
.bo{
	padding-bottom: 10px;
}
.dw{
	margin-top: 10px;
}
.jo{
	font-size: 30px;
	color: #00B5AD;
	opacity: 0.6;
	margin-bottom: 10px;
}
.bod{
	padding: 20px;
}
.top{
	margin-top: -8px!important;
}
.lop{
	float: left;
}
.rip{
	float: right;
}
.lll:after{
	content: '';
	display: block;
	clear: both;
}
.lon{
	font-size: 20px;
	margin-top: 6px;
}
.bm{
	margin-bottom: 10px;
}
.wi{
	width: 100%;
}
.prof{
	width: 70%;
	border-radius: 10px;
}